@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

.heading {
    text-align: center;
    padding-bottom: 15px;
    color: #000;
    font-size: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 15px 9%;
    padding-bottom: 100px;
}

.container .box-container {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}

.container .box-container .box {
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 30px 20px;
}

.container .box-container .box  img {
    width: 200px;
    height: 100px;
}

.container .box-container .box  h3 {
    color: #183147;
    font-size: 22px;
    padding: 10px 0;
}

.container .box-container .box  p {
    color: #1f374d;
    font-size: 15px;
    line-height: 1.8;
}

.container .box-container .box:hover {
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

.nav {
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 5px;
}

.nav_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.nav_buttons {
    display: flex;
    flex-direction: column;
}

.slider {
    height: 5px;
    background: #ddd;
    position: relative;
}

.slider .progress {
    height: 5px;
    left: 25%;
    right: 25%;
    position: absolute;
    background: #183147;
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    top: 0px;
    height: 5px;
    width: 100%;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    height:  17px;
    width: 17px;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
    background: #183147;
}

.range_text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.nav_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.nav_btn {
    background-color: #e3e6e9;
    border: 1px solid #dce0e3;
    border-radius: 5px;
    padding: 10px;
    width: 60%;
    margin: 5px;
}

.nav_text {
    display: flex;
    justify-content: center;
    text-align: center;
}

.contacts {
    display: flex;
    justify-content: space-between;
    margin: 0 180px;
}

@media (min-width: 730px) and (max-width: 1200) {
    .container {
        padding: 20px;
    }
}

@media (min-width: 375px) and (max-width: 730px) {
    .container {
        padding: 150px;
    }

    .nav,
    .nav_buttons,
    .nav_btn,
    .range_text,
    .slider,
    .range-input,
    .progress,
    input,
    .nav_title {
        display: none;
    }
}

@media (max-width: 729px) {
    .container {
        padding: 10px 200px;
    }
}

@media (max-width: 600px) {
    .container {
        padding: 10px 130px;
    }
}


@media (max-width: 540px) {
    .container {
        padding: 120px;
    }
}

@media (max-width: 475px) {
    .container {
        padding: 80px;
    }
}

@media (max-width: 425px) {
    .container {
        padding: 50px;
    }
}

@media (max-width: 375px) {
    .container {
        padding: 30px;
    }
}

